/* inicia header */
header{
	grid-area: header;
	padding: 2%;
	display: flex;
	justify-content: space-between;
		background: #EFDAD7;
		height: auto;
		width: auto;
		background-image: linear-gradient(rgb(223, 21, 241),pink);
}
/* fin de header */