@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$Merry:'Merriweather', serif;
$negro: black;
$blanco: white;
$rosa: pink;
$azulClaro: lightblue;

@mixin linear-gradient($sentido,$color1,$color2){
    background : linear-gradient(to $sentido,$color1,$color2);
}

$paleta:( 
    'negro': black,
    'blanco': white,
    'rosa': pink,
    'azulclaro': lightblue,
);


